{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="col-3">
        <h1>Créer un compte</h1>
        {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_label(registrationForm.username) }}
                {{ form_widget(registrationForm.username, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe',
                    'attr': {'class': 'form-control'}
                }) }}
            </div>
            <input type="submit" role="button" class="btn btn-outline-primary" value="Créer un compte">
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}